{% extends 'base.html' %}
{% load static %}



    {% block content %}


    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    
    

    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

            {% for carusel in carusels %}
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{{ carusel.image.url }}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>{{ carusel.name }}</b></h1>
                                <h3 class="h2">{{ carusel.title }}</h3>
                                <p>
                                    {{ carusel.text }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            {% endfor %}
            
            <!-- <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static './img/banner_img_02.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success"><b>Kozimov</b> eCommerce</h1>
                                <h3 class="h2">Kichkina va mukammal elektron tijorat uchun</h3>
                                <p>
                                    Kozimov Ziyohiddinning django da portfolio uchun tayyorlagan shop_blogi boshqa tayyorlangan ishlarni ko'rish uchun  <a rel="sponsored" class="text-success" href="https://github.com/Kozimov" target="_blank">Github Link</a>ga kiring
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->


        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            {% for categoryMonthsTitle in categoryMonthsTitles %}
            <div class="col-lg-6 m-auto">
                <h1 class="h1">{{ categoryMonthsTitle.title }}</h1>
                <p>
                    {{ categoryMonthsTitle.text }}
                </p>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for categoryMonth in categoryMonths %}
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="{{ categoryMonth.image.url }}" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">{{ categoryMonth.imageTitle }}</h5>
                <p class="text-center"><a class="btn btn-success">{{ categoryMonth.buttonText }}</a></p>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- End Categories of The Month -->

    {% endblock content %}